-e git+https://github.com/momaii/mouvement-brownien-.git@1c3bd680441daa716e373c8e8d89bbde00d9bc5e#egg=brownian_motion
cffi==2.0.0
contourpy==1.3.3
coverage==7.13.4
cycler==0.12.1
fonttools==4.61.1
iniconfig==2.3.0
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==2.4.2
packaging==26.0
pillow==12.1.1
pluggy==1.6.0
pycparser==3.0
pygame==2.6.1
Pygments==2.19.2
pymunk==7.2.0
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
six==1.17.0
